params {
    reads      = "data/fastq/*_R{1,2}.fastq.gz"
    genome     = "data/genome/ecoli_index"
    annotation = "data/annotation/GCF_000005845.2_ASM584v2_genomic"
    outdir     = "results"
    threads    = 6
}

process {
    cpus = params.threads
}

docker {
    enabled = true
}
