params {
    reads      = "${projectDir}/data/fastq/*_R{1,2}.fastq.gz"
    genome     = "${projectDir}/data/index/genome"
    annotation = "${projectDir}/data/annotation.gtf"
    outdir     = "${projectDir}/results"
}

process {
    withName: 'FASTQC|TRIMGALORE|BOWTIE2_ALIGN|SAMTOOLS_STATS|FEATURECOUNTS|MULTIQC' {
        cpus = 2
        memory = '4 GB'
    }
}

docker.enabled = true
